@mixin Lato($fontWeight: 400px) {
  font-family: "Lato", sans-serif;
  font-weight: $fontWeight;
}

%button {
  @include Lato();
  width: 100px;
  padding: 10px;
  border: none;

  &:hover {
    transform: scale(1.08);
  }
}

$mainColor: #f55757;
$secondaryColor: #404040;
$lightText: #737373;
$baseMargin: 25px;

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  background-color: none;
  margin: 35px 0px;

  img {
    height: 2.5rem;
    padding: 10px;
  }
}

.pages-navigation {
  display: flex;
  align-items: center;

  .logo-container {
    display: none;
    height: 2.8rem;
    .logo {
      font-size: 2.5rem;
      padding: 10px;
      color: $mainColor;
      cursor: pointer;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 $baseMargin;
      padding: 10px;

      a {
        @include Lato();
        font-size: 1rem;
        text-decoration: none;
        color: #404040;
      }

      &:hover {
        background-color: $mainColor;
        opacity: 0.8;
        border-radius: 8px;
      }
    }
  }
  @media (max-width: 900px) {
    ul {
      display: none;
    }

    .logo-container {
      display: block;
      float: left;
    }

    ul {
      position: fixed;
      color: $mainColor;
      top: 80px;
      right: 0px;
      width: 100%;

      &:hover {
        display: block;
      }

      li {
        display: block;
        text-align: center;
        height: 42px;
      }
    }

    .logo-container:hover ~ ul {
      display: block;
    }
  }
}

.map-section {
  width: 100%;
  z-index: 0;
}

.map-section__description {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  row-gap: $baseMargin;
  z-index: 3;
  position: absolute;
  margin-left: 10vw;

  h2 {
    width: 50vw;
    color: $secondaryColor;
    @include Lato(700);
    font-size: 4rem;
  }

  p {
    width: 50vh;
    color: $lightText;
    @include Lato(300);
    font-size: 1.5rem;
  }

  .map-section__description-btns {
    display: flex;
    column-gap: $baseMargin;
  }

  .get-btn {
    background-color: $mainColor;
    color: white;
    border: none;
    @extend %button;
  }

  .cars-btn {
    border: 1px solid $mainColor;
    color: $mainColor;
    padding: 9px;
    background-color: white;
    @extend %button;
  }
}

.map-section__img {
  position: relative;
  z-index: 0;
  margin-left: 38vw;
  margin-right: 0vw;

  .map-section__img-map {
    position: relative;
    z-index: 0;
  }

  .map-section__img-pin1 {
    position: absolute;
    top: 123px;
    left: 460px;
  }

  .map-section__img-pin2 {
    position: absolute;
    top: 143px;
    left: 651px;
  }

  .map-section__img-pin3 {
    position: absolute;
    top: 73px;
    left: 739px;
  }

  .map-section__img-vector1 {
    position: absolute;
    top: 108.05px;
    left: 468px;
  }

  .map-section__img-vector2 {
    position: absolute;
    top: 98px;
    left: 660px;
  }

  .map-section__img-car {
    z-index: 2;
    position: absolute;
    top: 165px;
    left: -80px;
  }
}

@media (max-width: 1200px) {
  .map-container {
    position: relative;
    height: 250px;

    .map-section__img-map {
      position: absolute;
      left: 20%;
      transform: translateX(-50%);
      max-width: 150%;
    }
  }

  .map-section__description {
    margin: 10vw;
    z-index: 1;
    width: 50vw;

    h2 {
      font-size: 3rem;
      width: 90vw;
    }

    p {
      width: 90vw;
    }
  }

  .map-section__img-car,
  .map-section__img-pin1,
  .map-section__img-pin2,
  .map-section__img-pin3,
  .map-section__img-vector1,
  .map-section__img-vector2 {
    display: none;
  }
}

.booking-section {
  margin: $baseMargin * 3 auto $baseMargin * 2;
  width: 70%;

  .booking-form__name {
    width: fit-content;
    padding: 15px 20px;
    color: $mainColor;
    @include Lato();
    background-color: #fee7e7;
    border: none;
  }

  form {
    border: 1px solid black;
    width: fit-content;
    @include Lato();
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;

    label {
      color: $secondaryColor;
      display: block;
      padding: 10px 10px 10px 0px;
    }

    div {
      margin-left: 20px;
    }
  }

  select,
  input {
    appearance: none;
    border: none;
    color: lightgrey;
    padding: 10px;
  }

  button {
    @extend %button;
    color: white;
    background-color: $mainColor;
    margin: $baseMargin;
  }

  @media (max-width: 850px) {
    form div {
      width: 100%;
      margin-left: 15vw;
    }
  }
}

.car-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    height: 6vh;
    opacity: 0.3;
  }
  @media (max-width: 1000px) {
    img {
      height: 4vh;
    }
  }
}

.car-selection {
  margin: $baseMargin * 2 $baseMargin;
  text-align: center;
  @include Lato();

  button {
    background-color: $mainColor;
    color: white;
    border: none;
    @extend %button;
  }

  h2 {
    color: #737373;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    color: lightgrey;
    margin-bottom: 40px;
  }

  .car-selection__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .cards-container__description {
      margin-top: $baseMargin;

      h4 {
        color: #737373;
        font-size: 1.5rem;
      }

      p {
        font-size: 0.8rem;
        display: inline-block;
        margin: 15px;
      }

      a {
        display: block;
      }
    }
  }

  .see-all__btn button {
    margin-top: $baseMargin * 2;
  }
}

.services-content {
  overflow: hidden;

  picture img{
    filter: grayscale(99%);
    opacity: 0.3;
    position: relative;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
  }
}
