
@mixin Lato($fontWeight: 400px){
  font-family: "Lato", sans-serif;
  font-weight: $fontWeight;
}

%button{
  @include Lato();
  width: 100px;

  &:hover{
    transform: scale(1.08);
  }
}

$mainColor: #F55757;
$secondaryColor: #404040;
$lightText: #737373;

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    background-color: none;
    margin: 35px 0px;
  
    img{
      height: 2.5rem;
      padding: 10px;
    }
}


.pages-navigation{
  display: flex;
  align-items: center;

 .logo-container {
   display: none;
   height: 2.8rem;
   .logo{
   font-size: 2.5rem;
   padding: 10px;
   color: $mainColor;
   cursor: pointer;
   
    &:hover{
     transform: scale(1.08);
    }
   }
  }

  ul {
    list-style: none;
  
    li {
        display: inline-block;
        margin: 0 20px;
        padding: 10px;
  
      a {
          @include Lato();
          font-size: 1rem;
          text-decoration: none;
          color: #404040;
        }
  
        &:hover {
          background-color: $mainColor;
          opacity: 0.8;
          border-radius: 8px;
        }
     }
  }
  @media (max-width: 850px) {

    ul{
      display: none;

    }

    .logo-container{
      display: block;
      float: left;
    }
    
     ul{
      position: fixed;
      color: $mainColor;
      top: 80px;
      right: 0px;
      width: 100%;

      &:hover{
        display: block;
      }

      li{
        display: block;
        text-align: center;
        height: 42px;
      }
    } 

    .logo-container:hover ~ ul{
      display: block;
    }
  }
}


.map-section{
  margin-top: 290px;
 width: 100%;
}

.map-section__description{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  z-index: 3;
  position: absolute;
  margin-left: 10vw;
  
  h2{
    width: 50vw;
    color: $secondaryColor;
    @include Lato(700);
    font-size: 4rem;
  }

  p{
   width: 50vh;
   color: $lightText;
   @include Lato(300);
   font-size: 1.5rem;
  }

  .map-section__description-btns{
    display: flex;
    column-gap: 20px;
  }

  .get-btn{
    background-color: $mainColor;
    color: white;
    padding: 10px;
    border: none;
    @extend %button;

  }

  .cars-btn{
    border: 1px solid $mainColor;
    color: $mainColor;
    padding: 9px;
    background-color: white;
    @extend %button;
  }
}

.map-section__img{
  position: relative;
  z-index: 0;
  margin-left: 38vw;
  margin-right: 0vw;
  
  .map-section__img-map{
    position: absolute;
    z-index: 0;
  }

  .map-section__img-pin1{
    position: absolute;
    top: 123px;
    left: 460px;
  }

  .map-section__img-pin2{
    position: absolute;
    top: 143px;
    left: 651px;
  }

  .map-section__img-pin3{
    position: absolute;
    top: 73px;
    left: 739px;
  }

  .map-section__img-vector1{
    position: absolute;
    top: 108.05px;
    left: 468px;
  }

  .map-section__img-vector2{
    position: absolute;
    top: 98px;
    left: 660px;
  }

 .map-section__img-car{
  z-index: 2;
  position: absolute;
  top: 165px;
  left: -100px;
 }
}

@media (max-width: 850px) {

  .map-section__img{
    margin-left: 0px;
    
  }

  .map-section__description{
    margin-top: 0vw;
    z-index: 10;
    width: 50vw;

    h2{
      font-size: 3rem;
    }
  }

  .map-section__img-car{
    display: none;
  }
}
